
@require "variables"

// TODO: Rename this 'toast' or something like that

.alert-box
  margin 1rem 0
  position relative
  padding 0.5rem 1rem
  color white
  text-shadow 0 0 0.1rem rgba(black, 0.2)
  background #777
  a
    color white
    text-decoration underline
  &.success
    background $color-success
  &.warning
    background $color-warning
